network-timeout 600000
# registry "https://registry.npmjs.org"
home "https://www.npmjs.org"

registry "https://registry.npm.taobao.org"
disturl "https://npm.taobao.org/mirrors/node"
chromedriver-cdnurl "https://npm.taobao.org/mirrors/chromedriver"
couchbase-binary-host-mirror "https://npm.taobao.org/mirrors/couchbase/v{version}"
debug-binary-host-mirror "https://npm.taobao.org/mirrors/node-inspector"
electron-mirror "https://npm.taobao.org/mirrors/electron/"
electron-builder-binaries-mirror "https://npm.taobao.org/mirrors/electron-builder-binaries/"
atom-shell-mirror "https://npm.taobao.org/mirrors/atom-shell/v{version}"
node-chakracore-mirror "https://npm.taobao.org/mirrors/node-chakracore/node-chakracore-{version}"
nodejieba-mirror "https://npm.taobao.org/mirrors/nodejieba/v{version}"
geckodriver-mirror "https://npm.taobao.org/mirrors/geckodriver/v{version}"
selenium-mirror "https://npm.taobao.org/mirrors/selenium/v{version}"
chromium-browser-snapshots "https://npm.taobao.org/mirrors/chromium-browser-snapshots"
flow-bin-binary-host-mirror "https://npm.taobao.org/mirrors/flow/v{version}"
flow-mirror "https://npm.taobao.org/mirrors/flow/v{version}"
fse-binary-host-mirror "https://npm.taobao.org/mirrors/fsevents"
fuse-bindings-binary-host-mirror "https://npm.taobao.org/mirrors/fuse-bindings/v{version}"
git4win-mirror "https://npm.taobao.org/mirrors/git-for-windows"
gl-binary-host-mirror "https://npm.taobao.org/mirrors/gl/v{version}"
gl-mirror "https://npm.taobao.org/mirrors/gl/v{version}"
grpc-node-binary-host-mirror "https://npm.taobao.org/mirrors"
grpc-mirror "https://npm.taobao.org/mirrors/grpc/v{version}"
hackrf-binary-host-mirror "https://npm.taobao.org/mirrors/hackrf/v{version}"
leveldown-binary-host-mirror "https://npm.taobao.org/mirrors/leveldown/v{version}"
leveldown-hyper-binary-host-mirror "https://npm.taobao.org/mirrors/leveldown-hyper/v{version}"
mknod-binary-host-mirror "https://npm.taobao.org/mirrors/mknod/v{version}"
node-sqlite3-binary-host-mirror "https://npm.taobao.org/mirrors"
node-tk5-binary-host-mirror "https://npm.taobao.org/mirrors/node-tk5/v{version}"
nodegit-binary-host-mirror "https://npm.taobao.org/mirrors/nodegit/v{version}"
nodegit-mirror "https://npm.taobao.org/mirrors/nodegit/v{version}"
cypress-mirror "https://npm.taobao.org/mirrors/cypress/v{version}"
poi-mirror "https://npm.taobao.org/mirrors/poi/v{version}"
operadriver-cdnurl "https://npm.taobao.org/mirrors/operadriver"
phantomjs-cdnurl "https://npm.taobao.org/mirrors/phantomjs"
profiler-binary-host-mirror "https://npm.taobao.org/mirrors/node-inspector/"
puppeteer-download-host "https://npm.taobao.org/mirrors"
python-mirror "https://npm.taobao.org/mirrors/python"
rabin-binary-host-mirror "https://npm.taobao.org/mirrors/rabin/v{version}"
sass-binary-site "https://npm.taobao.org/mirrors/node-sass"
sodium-prebuilt-binary-host-mirror "https://npm.taobao.org/mirrors/sodium-prebuilt/v{version}"
sqlite3-binary-site "https://npm.taobao.org/mirrors/sqlite3"
libjpeg-turbo-binary-host-mirror "https://npm.taobao.org/mirrors/libjpeg-turbo/v{version}"
libjpeg-turbo-mirror "https://npm.taobao.org/mirrors/libjpeg-turbo/v{version}"
utf-8-validate-binary-host-mirror "https://npm.taobao.org/mirrors/utf-8-validate/v{version}"
utp-native-binary-host-mirror "https://npm.taobao.org/mirrors/utp-native/v{version}"
zmq-prebuilt-binary-host-mirror "https://npm.taobao.org/mirrors/zmq-prebuilt/v{version}"
jpegtran-bin-mirror "https://npm.taobao.org/mirrors/jpegtran-bin/v{version}"
pngquant-bin-mirror "https://npm.taobao.org/mirrors/pngquant-bin/v{version}"
zopflipng-bin-mirror "https://npm.taobao.org/mirrors/zopflipng-bin/v{version}"
gifsicle-bin-mirror "https://npm.taobao.org/mirrors/gifsicle-bin/v{version}"
mozjpeg-bin-mirror "https://npm.taobao.org/mirrors/mozjpeg-bin/v{version}"
cwebp-bin-mirror "https://npm.taobao.org/mirrors/cwebp-bin/v{version}"
optipng-bin-mirror "https://npm.taobao.org/mirrors/optipng-bin/v{version}"
jpegoptim-bin-mirror "https://npm.taobao.org/mirrors/jpegoptim-bin/v{version}"
pngcrush-bin-mirror "https://npm.taobao.org/mirrors/pngcrush-bin/v{version}"
guetzli-bin-mirror "https://npm.taobao.org/mirrors/guetzli-bin/v{version}"
gif2webp-bin-mirror "https://npm.taobao.org/mirrors/gif2webp-bin/v{version}"
pngout-bin-mirror "https://npm.taobao.org/mirrors/pngout-bin/v{version}"
advpng-bin-mirror "https://npm.taobao.org/mirrors/advpng-bin/v{version}"
jpeg-recompress-bin-mirror "https://npm.taobao.org/mirrors/jpeg-recompress-bin/v{version}"
zeromq-mirror "https://npm.taobao.org/mirrors/zeromq/v{version}"
minikube-mirror "https://npm.taobao.org/mirrors/minikube/v{version}"
sentry-cli-mirror "https://npm.taobao.org/mirrors/sentry-cli/{version}"
sharp-libvips-mirror "https://npm.taobao.org/mirrors/sharp-libvips/v{version}"
sharp-mirror "https://npm.taobao.org/mirrors/sharp/v{version}"
looksgood-s2-mirror "https://npm.taobao.org/mirrors/looksgood-s2/{version}"
tensorflow-mirror "https://npm.taobao.org/mirrors/tensorflow/"
tfjs-models-mirror "https://npm.taobao.org/mirrors/tfjs-models/"
tf-builds-mirror "https://npm.taobao.org/mirrors/tf-builds/"
node-canvas-prebuilt-mirror "https://npm.taobao.org/mirrors/node-canvas-prebuilt/v{version}"
node-swc-mirror "https://npm.taobao.org/mirrors/node-swc/v{version}"
xprofiler-mirror "https://npm.taobao.org/mirrors/xprofiler/v{version}"
prisma-mirror "https://npm.taobao.org/mirrors/prisma/"
argon2-mirror "https://npm.taobao.org/mirrors/argon2/v{version}"
ali-zeromq-mirror "https://npm.taobao.org/mirrors/ali-zeromq/{version}"
iohook-mirror "https://npm.taobao.org/mirrors/iohook/v{version}"
saucectl-mirror "https://npm.taobao.org/mirrors/saucectl/v{version}"
